.head {
  text-align: center;
  padding: 15px;
}

.images {
  text-align: center;
  background-color: white;
}

.heading {
  text-align: center;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

ul li {
  padding-top: 10px;
}

.main {
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: #eee;
  border-radius: 8px;
}

.footer {
  text-align: center;
}

figcaption {
  padding: 10px 10px 10px 10px;
}
